.square {
  width: 100px;
  height: 100px;
  background-color: black;
}

.rounded {
  border-radius: 50px;
  background-color: black;
}
.triangle {
  border-bottom: 50px;
  background-color: black;
}

.transition {
  transition: all 1s;
}
